
canvas {
  display: block;
  vertical-align: bottom;
  height:100%;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*
#snorkel{
  margin-left: 3em;
  margin-top: 3em;
}*/


@keyframes snorkel {
  0%   {transform: translateY(0)}
  25%  {transform: translateY(-10px)}
  75%  {transform: translateY(10px)}
  100% {transform: translateY(0)}
}



#snorkel{
  margin-right: 2em;
  margin-top: 3em;
  animation: snorkel 5s linear infinite;
}


.bar {
  height: 10px;
  position: fixed;
  z-index: 100;
  left: 0;
  bottom: 0;
  top: 0;

}

.bar-contrast{
  background: #B058D2;
}
.bar-colostate{
  background: #004C23;

}
#contrast-nav{
  color:#000;
}
